body {
  color: white;
  background-color: black;
  font-family: sans-serif;
}

.board {
  margin: 0 auto;
  position: relative;
  float: left;
}

.P1Display {
  margin: 0 auto;
  text-align: center;
  padding: 1em;
  border: 1px solid white;
  height: 25%;
}


.P2Display {
  margin: 0 auto;
  text-align: center;
  padding: 1em;
  border: 1px solid white;
  height: 25%;
}

.controls {
  margin: 0 auto;
  padding: 21%;
}

.P1Image {
  float: left;
  padding: 1em 1em 0;
  background-color: black;
  margin: 1em 1em 0;
  border: 1px solid white;
}


.P2Image {
  float: right;
  padding: 0em 1em 1em;
  background-color: black;
  margin: 0em 1em 1em;
  border: 1px solid white;
}

.clearfix {
  overflow: auto;
}
