body {
  color: white;
  background-color: black;
  font-family: Papyrus, fantasy, sans-serif;
  background-image: url("images/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  margin: 0 auto;
  position: relative;
  left: 33%;
}

.board {
  margin: 0 auto;
  position: relative;
  float: left;
  left: 0;
}

.P1Display {
  margin: 0 auto;
  text-align: center;
  padding: 1em 1em 0;
  border: 1px solid white;
  height: 25%;
  border-radius: 10px 10px 0 0;
  background-color: black;
}


.P2Display {
  margin: 0 auto;
  text-align: center;
  padding: 0 1em 1em;
  border: 1px solid white;
  height: 25%;
  border-radius: 0 0 10px 10px;
  background-color: black;

}

.hide {
  display: none;
}

.P1Image {
  float: left;
  padding: 1em 1em 0;
  background-color: black;
  margin: 1em 1em 0;
  border-radius: 10px 10px 0 0;
}


.P2Image {
  float: right;
  padding: 0em 1em 1em;
  background-color: black;
  margin: 0em 1em 1em;
  border-radius: 0 0 10px 10px;
}

.P1Text {
  position: absolute;
  background-color: black;
  border-radius: 0 0 12px 0px;
  border: 1px solid white;

}

.P2Text {
  position: absolute;
  background-color: black;
  border-radius: 0 0 12px 0;
  border: 1px solid white;

}

.clearfix {
  overflow: auto;
}

.controls {
  float: left;
  margin: 0 1em 0 1em;
  position: relative;
  padding: 1em;
}

.topright {
  position: relative;
}

.centerright{
  position: relative;
  top: 212px;
}

.bottomright{
  position: relative;
  top: 425px;
  width: 22px;
}


.turnWinner {
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 1.0;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1, 1); opacity: 1.0;}
    50% {-webkit-transform: scale(1.01, 1.01); opacity: 0.9;}
    100% {-webkit-transform: scale(1, 1); opacity: 1.0;}
}

.turnLoser {
  -webkit-animation: fade 3s linear;
  -webkit-animation-iteration-count: infinite;
  opacity: 1.0;
}

@-webkit-keyframes fade {
   0% {-webkit-transform: scale(1, 1); opacity: 0.75;}
   50% {-webkit-transform: scale(1, 1); opacity: 0.25;}
   100% {-webkit-transform: scale(1, 1); opacity: 0.75;}
}

.button {
  background-color: black;
  border-radius: 6px;
}
